body {
    background-color: #f8f5f2;
}

header {
    background-color: #eb7b6c;
}

.weather__card {
    background-color: #b2e5ed;

}

h1 {
    color: #222525;
}

.weather__card:hover {
    box-shadow: 0 0 10px black;
}

p {
    color: #222525;
}